<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Leads</title>
</head>
<table border="1">
<thead>
        <th>Telefono</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>direccion</th>
        <th>Población</th>
        <th>Observaciones</th>
        <th>Resultado</th>
</thead>
<tbody>
    {% for lead in leads%}
        <tr>
            <td> {{lead.telefono}}</td>
            <td> {{lead.nombre}}</td>
            <td> {{lead.apellidos}}</td>
            <td> {{lead.direccion}}</td>
            <td> {{lead.poblacion}}</td>
            <td> {{lead.observaciones}}</td>
            <td> {{lead.resultado}}</td>

        </tr>
    {%endfor %}
</tbody>
</table>
</html>